// 导入所有样式
@import "./transition.scss";
@import "./scroll.scss";
@import "./mixin.scss";
@import "./sidebar.scss";

body {
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  color: var(--windi-text);
  background-color: var(--windi-bg);
}

html {
  --windi-bg: #fcfcfc;
  --windi-hover-bg: #f6f6f6;
  --windi-text: #1f2937;
  --windi-bc: #e5e7eb;
}

.text-red-400 {
  --tw-text-opacity: 1;
  color: rgba(248, 113, 113, var(--tw-text-opacity));
}
.dark .dark\:text-green-400 {
  --tw-text-opacity: 1;
  color: rgba(52, 211, 153, var(--tw-text-opacity));
}

html.dark {
  --windi-bg: #181818;
  --windi-hover-bg: #2d2d2d;
  --windi-text: #f3f4f6;
  --windi-bc: #2d2d2d;
}

html {
  --windi-bg: #fcfcfc;
  --windi-hover-bg: #f6f6f6;
  --windi-text: #1f2937;
  --windi-bc: #e5e7eb;
}

/*******************以上是测试代码*********************/

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  color: var(--windi-text);
  background-color: var(--windi-bg);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

/*reset widicss*/
button:focus {
  outline: none;
}

svg,
img {
  display: inline-block;
}
