// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;
$dark_gray: #889aa4;

$theme-color: black;
$theme-bg: white;
$login_main_color: #357fed;
$light_gray: #eee;
$bg: #283443;

// sidebar
//$menuText:#bfcbd9;
$menuText: white;
$menuActiveText: white;
$subMenuActiveText: white; // https://github.com/ElemeFE/element/issues/12951

//$menuBg:#304156;
$menuBg: #08254f;
$menuHover: #357fed;

$subMenuBg: #041b3e;
$subMenuHover: #357fed;

$sideBarWidth: 210px;
